:root {
  --primary-color: #055a05;
  --secondery-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body {
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1, h2 {
  color:  var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
  grid-column: 1/3;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.contact-info {
  grid-column: 1/3;
  text-align: center;
}

.questions {
  display: flex;
  flex-direction: column;
}

.employee {
  grid-column: 1/2;
  display: flex;
}

.employee h2 {
  text-align: center;
}

.employee img {
  width: 125px;
  height: auto;
  justify-content: space-between;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article img {
  float: right;
  width: 125px;
}

.section img {
  width: 150px;
  height: auto;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

footer img {
  width: 50px;
  height: auto;
  box-shadow: 10px 0 30px gray;
}